.container {
    border: dashed;
    display: flex;
    justify-content: space-evenly;
}

.item {
    --hue: 0;
    text-align: center;
    background-color: hsl(var(--hue),100%,70%);
    width: 20px;
}